body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.page-nav {
  @apply px-5 flex-col md:flex-row md:px-20 text-white fixed w-full flex justify-between items-center py-10;
}

.masonary {
  figure {
    @apply flex flex-col;
    img {
      @apply flex-grow object-cover h-full;
    }
  }
}

a {
  text-decoration: none;
  &:visited,
  & {
    color: white;
  }
  &:hover {
    color: gray;
  }
}

.vertical {
  writing-mode: vertical-rl;
  white-space: nowrap;
  text-align: center;
  transform: rotate(180deg);
}
